
.red-bg-colored {
    color: red;
    background-color: pink; /* Внутренний стиль */
}

p {
    color: green; /* Внутренний стиль */
}

#myId {
    background-color: grey; /* Внутренний стиль */
}

/* Селектор потомка: выбирает все абзацы
внутри любого элемента div */
div p {
    color: red;
    background-color: pink; /* Внутренний стиль */

}
/* Селектор дочернего элемента: выбирает
только абзацы, являющиеся непосредственными
детьми элемента div */
div > p {
    color: green;
}




/* Селектор соседнего смежного элемента:
выбирает абзац, непосредственно следующий
за элементом h1 */
h1 + p {
    color: blue;
}

/* Селектор общего соседа: выбирает все
абзацы, следующие за элементом h1 */
h1 ~ p {
    color: purple;
}


/* Выбирает все элементы с атрибутом 'href',
значение которого начинается с 'https'
 ^
*/
[href^="https"] {
    background-color: yellow;
}
/* Выбирает все элементы с атрибутом
'class', значение которого равно 'test' или
начинается с 'test-' */
[href|="https"] {
    background-color: orange;
}